.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: blanchedalmond;
  max-width: 360px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  text-align:center;
}

.App-male {
  background-color: blue;
  color: white;
}

.App-female {
  background-color: pink;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

.margine-top {
  margin-top: 10px
}
